# Autor: Francisco Javier Gutierrez | Unix/Linux Architect & Cloud Engineer
---
- name: Agregar repositorio de Containerd
  yum_repository:
    name: containerd
    description: Containerd YUM repo
    baseurl: https://download.docker.com/linux/centos/7/x86_64/stable
    gpgcheck: yes
    gpgkey: https://download.docker.com/linux/centos/gpg
    state: present

- name: Instalar Containerd
  yum:
    name: containerd
    state: present

- name: Copiar configuracion de Containerd
  copy:
    src: files/containerd-config.toml
    dest: /etc/containerd/config.toml
  notify: Reiniciar Containerd

- name: Agregar parametro SystemdCgroup en configuracion de Containerd
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^\s*SystemdCgroup\s*=\s*false'
    line: '            SystemdCgroup = true'
    insertafter: '^\s*\[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options\]'
  notify: Reiniciar Containerd

- name: Configurar kubelet para utilizar Containerd
  lineinfile:
    path: /etc/default/kubelet
    create: yes
    line: 'KUBELET_EXTRA_ARGS="--container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/containerd.sock --runtime-cgroups=/system.slice/containerd.service --kubelet-cgroups=/system.slice/kubelet.service"'
  notify: Reiniciar Kubelet

- name: Asegurarse de que Containerd ha sido iniciado y habilitado
  systemd:
    name: containerd
    state: started
    enabled: yes

- name: Asegurarse de que kubelet ha sido iniciado y habilitado
  systemd:
    name: kubelet
    state: started
    enabled: yes
